# Python
venv/
*.pyc
__pycache__/
instance/
.env
*.sqlite3
frontend/.env

# Django
db.sqlite3
/static/
/media/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDE / OS
.idea/
.vscode/
*.swp
*~